body {    
}

.left-half {
    background-color: #ffffff;
    position: absolute;
    left: 0px;
    width: 40%;    
}

.right-half {
    background-color: #ffffff;
    position: absolute;
    right: 0px;
    width: 60%;
}

.bottom {
    background-color: #ffffff;
    position: absolute;
    left: 50px;
    bottom:150px;
    width: 20%;
}